body {
    margin: 0;
    background-image: url(../img/pinar-del-rio-1600.jpg);
}

.container {
    width: 800px;
    margin: auto;
}

.container .banner {
    height: 100px;
    background-color: rgb(27, 87, 13);
    padding: 10px;
}

.container .banner .huruf img {
    width: 100px;
    height: 100px;
    float: left;
}

.container .banner .huruf {
    display: inline-block;
    width: 750px;
}

.container .banner .huruf h2 {
    margin-top: 13px;
    font-family: Arial;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #DDFF01;
}

.container .banner .huruf p {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: white;
}

.header {
    background-color: black;
    padding: 10px;
    height: 30px;
}

.header ul li {
    display: inline-block;
    font-size: 18px;
    margin-top: 5px;
}

.header ul li a:hover {
    color: greenyellow;
}

.header ul img {
    float: right;
    margin-top: 6px;
    margin-right: 25px;
    height: 20px;
}

.header a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.header input[type="search"] {
    float: right;
    margin-right: 20px;
    width: 200px;
    height: 30px;
}

.lapisan {
    margin-top: 15px;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.616);
}

.clear {
    clear: left;
}

.clear1 {
    clear: right;
}

.lapisan img {
    float: left;
    width: 250px;
    height: 200px;
    position: absolute;
}

.lapisan .tulisan {
    float: right;
    width: 500px;
    height: 200px;
}

.lapisan .tulisan h2 {
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    color: rgb(95, 121, 36);
    font-weight: bold;
}

.content .bawah {
    width: 800px;
    margin-bottom: 350px;
    margin-left: 250px;
}

.content {
    background-color: white;
    margin-top: 20px;
}

.content .populer h2 {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    float: left;
}

.content .populer .garis1 {
    margin-top: 28px;
    margin-left: 30px;
    display: inline-block;
    width: 600px;
    height: 5px;
    background-color: black;
    border-radius: 1px;
}

.isi1 {
    margin-top: 20px;
}

.isi1 .kotak1 {
    padding: 10px;
    width: 700px;
}

.isi1 .kotak1 img {
    margin-top: 15px;
    display: inline-block;
    width: 300px;
    height: 200px;
}

.isi1 .kotak1 h2 {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    display: inline;
    font-size: 15px;
    font-weight: bold;
    margin-right: 100px;
}

.isi1 .kotak1 p {
    margin-top: 80px;
    margin-left: 40px;
    position: absolute;
    font-style: arial;
    display: inline-block;
    font-size: 15px;
    width: 410px;
}

.isi1 .kotak1 a {
    position: absolute;
    background-color: green;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    font-family: Lohit Telugu;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 170px;
    margin-left: 40px;
}

.content .produk h2 {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    float: left;
}

.content .produk .garis2 {
    margin-top: 28px;
    margin-left: 30px;
    display: inline-block;
    width: 600px;
    height: 5px;
    background-color: black;
    border-radius: 1px;
}

.content .box {
    float: left;
    width: 270px;
    height: 300px;
    margin-top: 30px;
    margin-left: -50px;
    margin-right: 80px;
    background-color: rgb(255, 255, 255);
    border: solid 4px darkgreen;
}

.content .box h2 {
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
}

.content .box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.content .box a {
    position: absolute;
    background-color: darkgreen;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    font-family: Lohit Telugu;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    font-size: 17px;
    margin-left: 70px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    font-family: Segoe UI;
    color: white;
    text-align: center;
    font-size: 12px;
}